@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_mod.cshtml";
}

@section head {
    <title>GrupoCV | 2019</title>
    <meta name="description" content="GrupoCV">
    <meta name="keywords" content="asociación comerciantes vehículos, derechos reales, polizas flotantes, garantías mecánicas, simulador financiero, estadísticas ventas vehículos nuevos,noticias, asociación coches,contratos de compra-venta, hojas de reclamación">

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
}
<link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


<style>
    /*Estilo del Carrusel*/

    div.caption {
        position: absolute;
        top: 15px;
        left: 0;
        width: 100%;
        background-color: #0177c2;
        color: #fff;
        padding: 5px;
        text-align: center;
    }

    div.caption2 {
        position: absolute;
        top: 15px;
        left: 0;
        width: 100%;
        background-color: #b42659;
        color: #fff;
        padding: 5px;
        text-align: center;
    }

    div.caption3 {
        position: absolute;
        top: 10px;
        width: 100%;
        background-color: #b42659;
        color: #fff;
        padding: 5px;
        text-align: center;
    }

    div.destaca {
        position: relative;
        padding-bottom: 10px;
    }

    .owl-nav {
        position: absolute;
        top: -50px;
        right: 2px;
    }


    .modal-content {
        margin-top: 10% !important;
        margin-left: 10% !important;
        margin-right: 10% !important;
        width: 100% !important;
    }


    .modal-dialog {
        width: 65% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
    }


    /*}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}}*/



    /*.modal-content {
        height: auto !important;
        min-height: 100% !important;
        border-radius: 0 !important;
        background-color: #ececec !important
    }*/


    /*.modal-dialog {
        width: 100% !important;
        height: 100% !important;
        margin: 0 !important;
        padding: 0 !important;
        max-width:none !important;

    }
    .modal-header {
        border-bottom: 1px solid #9ea2a2 !important;
    }

    .modal-footer {
        border-top: 1px solid #9ea2a2 !important;
    }*/


    /*************** Custom Carousel ***************/

    .custom-carousel .item {
        padding-right: 20px;
    }

    .custom-carousel.show-one-slide .item {
        padding-right: 0;
    }
    .container.bg-orangered-light{
        position: fixed;
        top: 101px;
        z-index: 1;
    }
    .mt-first-section-other-page {
        margin-top: 208px !important;
    }
    .font-label-presupuesto {
        font-size: 20px;
        margin-bottom:0px;
    }
    div.img-fluid{
        margin-top: 5% !important;
    }
    .invisible {
        display: none;
    }
    thead tr th{
        color: #3b61aa;
        background-color:white;
    }
</style>






<div class="container">
    <div class="bg-orangered-light container">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-4 text-md-left col-cart">
                    <div class="row align-items-center">
                        <div class="col-3 content-box-resume2 text-left col-cart">
                            <img src="~/img/cart.png" class="img-fluid cart-image-orange">
                            
                        </div>
                        <div class="col-cart col-9">
                           
                            <h2 class="white-color2 opensans-bold">
                                <span id="precioSinIva"></span>€
                            
                                <br>
                                <p class="iva-text-orange"> más IVA</p><!---->
                            </h2>
                        </div>
                    </div>
                </div>
                <div class="col-4 text-center col-adress col-cart">
                    <strong><p class="font-label-presupuesto"><i class="fas fa-map-marker-alt"></i> Origen</p></strong>
                    <p>
                        <span class="text-pc"></span>
                        <span id="ubicacionOrigen"></span>
                       
                    </p>
                </div>
                <div class="col-4 text-center col-adress col-cart">
                    <strong><p class="font-label-presupuesto"><i class="fas fa-map-marker-alt"></i> Destino</p></strong>
                    <p>
                        <span class="text-pc"></span>
                        <span id="ubicacionDestino"></span>
                        
                    </p>
                </div>
            </div>
        </div>
    </div>
    <section id="contrato" class="content-page mt-first-section-other-page">
        <!-- Horizontal Steppers -->
        <div class="container-fluid mt20">

            <div class="md-stepper-horizontal orange">
                <div class="md-step active editable">
                    <div class="md-step-circle"><span>1</span></div>
                    <div class="md-step-title">Datos Transporte</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                </div>
                <div class="md-step active vehicles">
                    <div class="md-step-circle"><span>2</span></div>
                    <div class="md-step-title">Vehículos</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                </div>

                <div class="md-step active pago">
                    <div class="md-step-circle"><span>3</span></div>
                    <div class="md-step-title">Realizar Pago</div>
                    <div class="md-step-bar-left"></div>
                    <div class="md-step-bar-right"></div>
                </div>
            </div>
        </div>
        <!-- /. end Horizontal Steppers -->

        <div class="container">
            <!--contenido -->
            <div class="row mt20">
                <div class="col-md-12">
                    <div class="box-content-contrato ">
                        <h4 class="blue-color-bold2 mt20"><strong>RESUMEN DEL TRANSPORTE</strong></h4>
                        <div id="datoEnvio" class="row  mt10">
                           
                         </div>        
                        <!--listado de vehíuclos-->
                        <div class="title-step4-mv mt20">
                            <p class="blue-color-bold2"> LISTADO DE VEHÍCULOS</p>
                        </div>
                        <!-- titulo de columnas-->
                        <div class="box-simple-line mt20">
                            <table class="table">
                                <thead>
                                    <tr id="turismoComercial">
                                        <th scope="col">Nº</th>
                                        <th scope="col">Clase</th>
                                        <th scope="col">Marca</th>
                                        <th scope="col">Modelo</th>
                                        <th scope="col">Año</th>
                                        <th scope="col">Vesión</th>
                                        <th scope="col">Matrícula o bastidor</th>
                                    </tr>
                                    <tr id="moto" class="invisible">
                                        <th scope="col">Nº</th>
                                        <th scope="col">Marca</th>
                                        <th scope="col">Modelo</th>
                                        <th scope="col">Versión</th>
                                        <th scope="col">C.C</th>
                                        <th scope="col">CV</th>
                                        <th scope="col">Peso</th>
                                        <th scope="col">Matrícula o bastidor</th>
                                    </tr>
                                    <tr id="otrosVehiculos" class="invisible">
                                        <th scope="col">Nª</th>
                                        <th scope="col">Marca</th>
                                        <th scope="col">Modelo</th>
                                        <th scope="col">Largo</th>
                                        <th scope="col">Alto</th>
                                        <th scope="col">Peso</th>
                                        <th scope="col">Matrícula o bastidor</th>
                                    </tr>
                                </thead>
                                <tbody id="filas">
                                    
                                </tbody>
                            </table>
                        </div>
                        <!--botón guardar pedido-->
                        <div class="text-right mt40">
                            <p>¿Quieres guardar el pedido para finalizarlo más tarde?</p>
                            <a class="btn btn-sm btn-blue mt10" href=""><i class="far fa-save"></i> Guardar pedido </a>
                        </div>
                        <hr class="mt20 doted-hr">

                        <!--terminos particulares-->
                        <h4 class="blue-color-bold2 mt20"><strong>TÉRMINOS PARTICULARES</strong></h4>
                        <div class="box-list-terms">
                            <ul class="list-terminos list-unstyled">

                                <li class="mt10">
                                    En el caso de indicar que el vehículo arranca, es imprescindible que los vehículos a transportar estén en condiciones de arrancar y en condiciones de circular, ya que el camión asignado no estará equipado con grúa y de lo contrario no podrá cargar el vehículo con los gastos que esto conlleva.
                                </li>

                                <li class="mt10">
                                    Tanto el lugar de carga como lugar de descarga deben ser accesibles legalmente para la circulación con camión y disponer de una zona para poder aparcar el camión y realizar las maniobras de carga y descarga.
                                </li>

                                <li class="mt10">
                                    Las fechas indicadas en el presupuesto siempre se consideran estimativas, especialmente en tramos marítimos y períodos vacacionales.
                                </li>

                                <li class="mt10">
                                    Seguro vehículos nuevos incluido: todo riesgo, Condiciones CMR, condiciones L.O.T.T. ley 15/2009.
                                </li>
                                <li class="mt10">
                                    Seguro vehículos usados incluido: Condiciones CMR, condiciones L.O.T.T. ley 15/2009 que comprenden; vuelco, incendio o robo del camión con los coches.
                                </li>
                                <li class="mt10">
                                    El seguro no cubre vehículos por importe superior a 80.000€. En este caso hay que contratar un seguro adicional.
                                </li>
                                <li class="mt10">
                                    El seguro no cubre bienes personales depositados dentro del vehículo. Éstos deben ser retirados y no viajar con la carga (tampoco en la cabina del camión). El conductor no podrá ser responsable de su custodia.
                                <li class="mt10">
                                    En caso de incidencia, ha de quedar reflejado en el Albarán de entrega.
                                </li>
                            </ul>
                        </div>

                        <div class="row anti-row align-items-center position-switches-autorizacion">
                            <div class="col-md-11 text-md-right">
                                ¿Estás de acuerdo con los términos particulares?
                            </div>
                            <div class="col-md-1 text-right">
                                <label class="switch">
                                    <input type="checkbox">
                                    <span class="slider round"></span>
                                </label>
                            </div>
                        </div>
                        <hr class="doted-hr">

                        <!--PRECIO-->
                        <h4 class="blue-color-bold2 mt20"><strong>A PAGAR</strong></h4>

                        <div class="row anti-row align-items-center pb25">
                            <div class="col-md-5 ">
                                <p class="text-justify">
                                    TransportAuto trabaja para asegurar la seguridad de las transacciones con nuestros clientes y por ello solamente trabajamos con los medios de pago más seguros. Todas las comunicaciones con datos sensibles son aseguradas mediante certificado SSL.
                                </p>
                            </div>

                            <div class="col-md-3 text-center text-md-right ">
                                <img class="img-fluid" src="../../../img/publica/pago_seguro_resume.png" />
                            </div>
                            <div class="col-md-4 text-right">
                                <div class="box-simple-line bg-blue-light-trans" style="font-size:18px;">
                                    <div class="row">
                                        <div class="col-4">BASE:</div>
                                        <div class="col-8 text-right"> 1000 €</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-4">IVA:</div>
                                        <div class="col-8 text-right"> 498 €</div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-4"><strong>TOTAL:</strong></div>
                                        <div class="col-8 text-right"><strong>1498 €</strong></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr class="doted-hr">

                        <!--Métodos de pago-->
                        <h4 class="blue-color-bold2 mt20"><strong>MÉTODO DE PAGO</strong></h4>
                        <div class="row mt20">
                            <div class="col-md-6  padding-pago">
                                <div class="box-simple-line">
                                    <div class="text-center">
                                        <p>TARJETA DE CRÉDITO O DÉBITO</p>
                                    </div>
                                    <div style="padding-left:10px;padding-right:10px;">
                                        <div class="row mt20 align-content-center">
                                            <div class="col-4 text-right">
                                                <label class="container-radios">
                                                    <input type="radio" name="radio">
                                                    <span class="checkmark" style="left:90%"></span>
                                                </label>
                                            </div>
                                            <div class="col-8">
                                                <img src="../../../img/publica/tarjeta_credito_debito_sm_3.png" class="img-fluid" style="height:35px;width:auto;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-6 mt-20-mv  padding-pago">
                                <div class="box-simple-line">
                                    <div class="text-center">
                                        <p>TRANSFERENCIA BANCARIA</p>

                                    </div>
                                    <div style="padding-left:10px;padding-right:10px;">
                                        <div class="row mt20 align-content-center">
                                            <div class="col-5 text-right">
                                                <label class="container-radios">
                                                    <input type="radio" checked="checked" name="radio">
                                                    <span class="checkmark" style="left:90%"></span>
                                                </label>
                                            </div>
                                            <div class="col-7">
                                                <img src="../../../img/publica/transferencia_bancaria_6.png" class="img-fluid" style="height:35px;width:auto;" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br>
                        <hr class="doted-hr">
                    </div>
                </div>
            </div>

            <!--botón anterior y realizar pago -->
            <div class="row  align-items-center mt20">
                <div class="col-5">
                    <a class="btn btn-custom" href="contratacion_step2.html">
                        <i class="fas fa-chevron-left"></i> Anterior
                    </a>
                </div>
                <div class="col-7 text-right">
                    <a class="btn btn-custom" href="@Url.Content("~/Solicitar/Pago_")">
                        Pagar transporte <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>

        </div>
    </section>
</div>

<script src="~/js/extraIndex3.js"></script>