@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!--*******************************************************************************************************************************************************************-->
<!--**********************************************5 CONTENIDO de AÑADIR NUEVA DIRECCIÓN*************************************************************************************-->
<!--****************************************************************************************************************************************************************-->

<div class="content-page mt-first-section-other-page" id="nueva_direccion">
    <section class="pb-section">
        <div class="container mt40">
            <h3 class="blue-color-bold2 pt-btn-modal">NUEVA DIRECCIÓN</h3>
            <div class="row anti-row mt20">
                <div class="col-md-6 plr2">
                    <label>Tipo de lugar de origen</label>
                    <input class="form-control" type="text" placeholder="Completa..." />
                </div>
                <div class="col-md-6 plr2">
                    <label>Razón social</label>
                    <input class="form-control" type="text" placeholder="Completa..." />
                </div>
            </div>
            <div class="row anti-row">
                <div class="col-md-6 plr2">
                    <label>Persona de contacto</label>
                    <input class="form-control" type="text" placeholder="Completa..." />
                </div>
                <div class="col-md-6 plr2">
                    <label>Teléfono de contacto</label>
                    <input class="form-control" type="text" placeholder="Completa..." />
                </div>
            </div>
            <div class="row anti-row">
                <div class="col-md-12 plr2">
                    <label>Dirección</label>
                    <input class="form-control" type="text" placeholder="Completa..." />
                </div>
            </div>
            <div class="row anti-row">
                <div class="col-md-3 plr2">
                    <label>Pais</label>
                    <select class="form-control">
                        <option value="" disabled>Selecciona...</option>
                        <option value="" selected>España</option>
                        <option value="">Pais 2</option>
                        <option value="">Pais 3</option>
                        <option value="">pais 4</option>
                        <option value="">pais 5</option>
                        <option value="">pais 6</option>
                    </select>
                </div>
                <div class="col-md-3 plr2">
                    <label>Provincia</label>
                    <select class="form-control">
                        <option value="" disabled selected>Selecciona...</option>
                        <option value="">Provincia 1</option>
                        <option value="">Provincia 2</option>
                        <option value="">Provincia 3</option>
                        <option value="">Provincia 4</option>
                        <option value="">Provincia 5</option>
                        <option value="">Provincia 6</option>
                    </select>
                </div>
                <div class="col-md-3 plr2">
                    <label>Localidad</label>
                    <select class="form-control">
                        <option value="" disabled selected>Selecciona...</option>
                        <option value="">Localidad 1</option>
                        <option value="">Localidad 2</option>
                        <option value="">Localidad 3</option>
                        <option value="">Localidad 4</option>
                        <option value="">Localidad 5</option>
                        <option value="">Localidad 6</option>
                    </select>
                </div>
                <div class="col-md-3 plr2">
                    <label>CP</label>
                    <input class="form-control" type="text" placeholder="Completa..." />
                </div>
            </div>
            <div class="row anti-row">
                <div class="col-md-12 plr2">
                    <label>Observaciones</label>
                    <textarea class="form-control" placeholder="Observaciones..."></textarea>
                </div>
            </div>
            <div class="text-right mt20">
                <a class="btn btn-sm btn-custom"><i class="far fa-save"></i> Guardar dirección</a>
            </div>
        </div>
    </section>
</div>
