@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout_mod.cshtml";
}

<!--*******************************************************************************************************************************************************************-->
<!--**********************************************5 CONTENIDO DEL DASHBOARD*************************************************************************************-->
<!--****************************************************************************************************************************************************************-->
@section head {
    <title>GrupoCV | 2019</title>
    <meta name="description" content="GrupoCV">
    <meta name="keywords" content="asociación comerciantes vehículos, derechos reales, polizas flotantes, garantías mecánicas, simulador financiero, estadísticas ventas vehículos nuevos,noticias, asociación coches,contratos de compra-venta, hojas de reclamación">

    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
}

<div class="content-page" id="content-dash">
    <section id="dashboard" class="ptb-section mt-first-section-other-page">
        <div class="container">
            <div class="row">
                <!--TRANSPORTES ...-->

            </div>

        </div>
    </section>
</div>