@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--*******************************************************************************************************************************************************************-->
<!--**********************************************5 CONTENIDO DEL DASHBOARD*************************************************************************************-->
<!--****************************************************************************************************************************************************************-->

<div class="content-page" id="content-dash">
    <section id="dashboard" class="ptb-section mt-first-section-other-page">
        <div class="container">
            <div class="row">
                <!--TRANSPORTES ...-->
                <div class="col-lg-8">
                    <div class="row ">
                        <div class="col-md-6  text-center">
                            <a href="mis_pedidos.html">
                                <div class="panel-dashboard h-100">
                                    <div class="bg-encurso"></div>
                                    <h5>Transportes en curso</h5>
                                    <h2 class="text-right">1</h2>
                                </div>

                            </a>
                        </div>

                        <div class="col-md-6 mt-box-dashboard-mv text-center">
                            <a href="mis_pedidos.html">
                                <div class="panel-dashboard h-100">
                                    <div class="bg-transp_pend"></div>
                                    <h5 class="blue-color-bold2">Pendientes autorización</h5>
                                    <h2 class="text-right">1</h2>
                                </div>
                            </a>
                        </div>

                    </div>
                    <div class="row mt20">
                        <div class="col-md-6  text-center">
                            <a href="pedidos_pendientes.html">
                                <div class="panel-dashboard h100">
                                    <div class="bg-presup_pend"></div>
                                    <h5 class="blue-color-bold2">Presupuestos solicitados</h5>
                                    <h2 class="text-right">2</h2>
                                </div>
                            </a>
                        </div>
                        <div class="col-md-6 mt-box-dashboard-mv text-center">
                            <a href="pedidos_pendientes.html">
                                <div class="panel-dashboard h100">
                                    <div class="bg-pendiente_pago"></div>
                                    <h5 class="blue-color-bold2">Pendientes de pago</h5>
                                    <h2 class="text-right">2</h2>
                                </div>
                            </a>
                        </div>
                    </div>

                </div>
                <div class="col-lg-4 mt-20-mv">
                    <div class="h-100">
                        <a href="pedidos_pendientes.html">
                            <div class="panel-dashboard">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h5>Pedidos guardados</h5>
                                    </div>
                                    <div class="col-4">
                                        <h2 class="text-right">
                                            <span style="font-size:20px;">
                                                <i class="far fa-folder"></i>
                                            </span>
                                            2
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="pedidos_pendientes.html">
                            <div class="panel-dashboard mt-box-small">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h5> Trasp. finalizados</h5>
                                    </div>
                                    <div class="col-4">
                                        <h2 class="text-right"><span style="font-size:20px;"><i class="fas fa-check"></i></span> 2</h2>
                                    </div>
                                </div>

                            </div>
                        </a>
                        <a href="mis_pedidos_detalles.html#consultas_pedido">
                            <div class="panel-dashboard mt-box-small">
                                <div class="row align-items-center">
                                    <div class="col-8">
                                        <h5>Consultas</h5>
                                    </div>
                                    <div class="col-4">
                                        <h2 class="text-right">
                                            <span style="font-size:20px;">
                                                <i class="far fa-comment"></i>
                                            </span>2
                                        </h2>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <div class="panel-dashboard mt-box-small">
                            <div class="row align-items-center">
                                <div class="col-8">
                                    <h5>Incidencias</h5>
                                </div>
                                <div class="col-4">
                                    <h2 class="text-right">
                                        <span style="font-size:20px;">
                                            <i class="fas fa-exclamation-triangle"></i>
                                        </span>2
                                    </h2>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</div>